{% extends 'navbar.html' %}
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='stylesheets/howcss.css') }}"/>
{% endblock %}
{% block title %}
Jak grać
{% endblock %}
{% block nav %}
<li class="nav-item">
  <a class="nav-link" href="{{ url_for('home_page')}}"> Strona Główna</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{ url_for('news_page') }}">Aktualności</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{ url_for('table_page')}}">Tabela</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{ url_for('players_page') }}">Gracze</a>
</li>
<li class="nav-item">
 <a class="nav-link" href="{{ url_for('schedule_page') }}">Terminarz</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{ url_for('matches_page') }}">Mecze</a>
</li>
<li class="nav-item active">
  <a class="nav-link active" href="{{ url_for('how_page') }}">Jak grać?<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{ url_for('about_page') }}">O projekcie</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">Login</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">Rejestracja</a>
</li>
{% endblock %}

{% block content %}
<main class="container-fluid">
  <header class="text-center">
    <h1 class="display-1 m-5">Jak grać?</h1>
  </header>
  <article class="row m-3 p-3">
    <section data-aos="fade-right" class="m-2 col justify-content-start">
      <div class="info border text-center bg-dark text-white p-2">
        <h1> Stwórz konto</h1>
        <p> Jeśli jeszcze nie posiadasz konta, kliknij przycisk "Rejestracja", który widzisz w panelu nawigacyjnym (pierwsza opcja po prawej stronie). <br/>
        Utwórz konto, podając unikalną nazwę użytkownika, hasło oraz adres e-mail potrzebny do weryfikacji tożsamości.<br/> Po wykonaniu ów czynności zaloguj się na swoje konto przy pomocy opcji "Login"</p>
      </div>
    </section>
    <section data-aos="fade-left" class=" m-2 row justify-content-end">
      <div class="info border text-center bg-dark text-white p-2">
        <h1> Dołącz do ligi </h1>
        <p> Po wejściu na swój profil kliknij opcję "Ligi", która przeniesie Cię do wszystkich Twoich lig. Jeśli jeszcze nie należysz do żadnej ligi należy kliknąć przycisk "Dołącz do ligi" oraz wpisać kod zaproszeniowy, bądź wybrać ligę z listy lig publicznych niewymagających kodu</p>

      </div>
    </section>
    <section data-aos="fade-right" class="row m-2 justify-content-start">
      <div class="info border text-center bg-dark text-white p-2">
        <h1> Wybierz swoją drużynę </h1>
        <p> Drużyna składa się z 7 zawodników biorących udział w obecnych rozgrywkach LCK:
          <ul>
            <li>Top laner (TOP)</li>
            <li>Jungler (JNG)</li>
            <li>Mid laner (MID)</li>
            <li>Ad carry (ADC)</li>
            <li>Support (SUP)</li>
            <li>Rezerwowy1 (dowolna linia)</li>
            <li>Rezerwowy2 (dowolna linia inna niż rezerwowy1) </li>
          </ul>
          Dodatkowo gracze wybierają drużynę, pod której banderą będą uczestniczyli w rozgrywkach. <br/>
          Tworzenie drużyny będzie odbywało się w dwóch systemach, których wybór należy do Twórcy ligi. Są to:
          <ul>
            <li>Tryb "z budżetem": który polega na tym, iż każdy gracz posiada odpowiedni budżet startowy, który możesz przeznaczyć na skompletowanie drużyny</li>
            <li> Tryb "draftu": O ustalonej przez kreatora ligi godzinie rozpocznie się faza wybierania graczy. W losowej kolejności gracze wybierają po jednym zawodniku, eliminując go z ogólnej puli graczy (każdy gracz może należeć tylko do jednej drużyny użytkownika).
            <br/> <b>UWAGA:</b> Maksymalny rozmiar lig z trybem "draft": 10</li>
          </ul>
        </p>
      </div>
    </section>
    <section data-aos="fade-left" class="row m-2 justify-content-end">
      <div class="info border text-center bg-dark text-white p-2">
        <h1> Dokonuj zmian </h1>
        <p> Jeden z Twoich graczy wypadł ze składu ze względu na kontuzje? Twojego zawodnika czeka trudny terminarz w przyszłym tygodniu? A może widzisz nowe objawienie wśród niewykorzystanych zawodników? W takiej sytuacji możesz skorzystać z opcji "Transferu" <br/>
        Opcja transferu polega na wymianie gracza z własnego składu na innego, dostępnego gracza. Jest ona dostępna z panelu "Moja drużyna", po wejściu w detale danej ligi, do której należymy.</p>
      </div>
    </section>
    <section data-aos="fade-right" class="row m-2 justify-content-start">
      <div class="info w-50 border text-center bg-dark text-white p-2">
        <h1> Punktacja</h1>
        <p> Każdy z graczy jak i drużyna, pod banderą której występuje skład gracza w każdym meczu, zdobywa punkty. Punkty naliczane są w następujący sposób. </br>
          <p> Czynności, za które gracz otrzymuje punkty: </p>
          <ul>
            <li>2 punkty- Zabójstwo</li>
            <li>-0.5 punkt- Zgon</li>
            <li>1.5 punkta- Asysta</li>
            <li>0.01- Każdy zabity stwór</li>
            <li>2 punkty- Triple kill</li>
            <li>5 punktów- Quadra kill (bonus za triple kill w tej sytuacji nie jest aplikowany)</li>
            <li>10 punktów- Penta kill (bonus za triple i quadra killa nie jest aplikowany)</li>
            <li>2 punkty- Zdobycie 10 lub więcej asyst lub zabójstw </li>
          </ul>
          <p> Czynności, za które drużyna otrzymuje punkty: </p>
            <li>2 punkty- Zwycięstwo</li>
            <li>2 punkty- Każdorazowo za zabicie barona</li>
            <li>1 punkt- Każdorazowo za zabicie dragona bądź rift heralda</li>
            <li>1 punkt- Każdorazowo za rozwalenie wieży</li>
            <li>1 punkt- Pierwsza krew</li>
            <li>2 punkty- Zwycięstwo przed 30 minutą</li>
          <p><b>UWAGA:</b> Ze względu na możliwość zaistnienia sytuacji, w której liczba rozegranych gier przez poszczególnych graczy będzie się różniła w danym tygodniu, liczba punktów jaką dany gracz uzyskał jest średnią arytmetyczną z punktów, które uzyskał w trakcie pojedynczych meczów w danym tygodniu rozgrywkowym.</p>
      </div>
    </section>
    <section data-aos="fade-left" class="row m-2 justify-content-end">
      <div class="info w-50 border text-center bg-dark text-white p-2">
        <h1> Baw się dobrze! </h1>
        <p> Wszystko zrozumiałe? W takim razie stwórz konto, zaproś znajomych i razem rywalizujcie który z was byłby lepszym trenerem w LCK! </p>
      </div>
    </section>
  </article>
  <footer>
  </footer>
</main>
{% endblock %}